button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100%;
  outline: 0;

  .modal-open & {
    overflow-x: hidden;
    overflow: hidden;
  }
}

.modal-dialoge {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;

  .modal.fade & {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }

  .modal.show & {
    transform: translate(0, 0);
  }
}

.modal-content {
  width: 100%;
  height: 768px;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px;
  border-radius: 0;
  box-shadow: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;

  /*Fade for backdrop*/
  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: $modal-backdrop-opacity;
  }
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #fff;
  border: 0;
  @include border-top-radius($modal-content-border-radius);

  .close {
    padding: $modal-header-padding;
    margin: (-$modal-header-padding) (-$modal-header-padding) (-$modal-header-padding) auto;
  }
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
  margin-bottom: 0;

}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
  align-items: center;
  border-top: $modal-footer-border-width $modal-footer-border-color;

  > :not(:first-child) {
    margin-left: .25rem;
  }

  > :not(:last-child) {
    margin-right: .25rem;
  }
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/*Scale up the modal*/
@include media-breakpoint-up(sm) {

  /*Automatically set modal's width for larger viewports*/
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
  }

  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .modal-sm {
    max-width: $modal-sm;
  }

}

@include media-breakpoint-up(lg) {
  .modal-lg {
    max-width: $modal-lg;
  }
}


/* unvisited link */
a:link {
  color: #2f8833;
}

/* visited link */
a:visited {
  color: lightseagreen;
}

/* mouse over link */
a:hover {
  color: teal;
}

/* selected link */
a:active {
  color: forestgreen;
}

.btn-link {
  width: 100px;
  height: auto;

}

#keyword_input.modal-form-input {
  margin-top: 2px;
}

#search-input.modal-form-input {
  margin-top: 1px;

}