{% extends 'SMM/base_nav.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >
<title>Recover Password</title>
<link rel="icon" href="{% static 'images/icon-trans.png' %}" >
<link rel="stylesheet" href="{% static 'SMM/login.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
</head>
<body>
<div class="container-fluid">
{% block content %}

<div class="text-center">
<h5 class=" head-main font-weight-normal">Reactivate your account?</h5>
<br>
 <p class="btext font-weight-normal">Enter the Email address of your registered Account.You will receive a link to reset your account password. </p>
</div>
    <form class="formforgetpassword" method="post" action="" >
           {% csrf_token %}
            <label for="email" class="label">Enter your email address to reactivate your account</label>
            <input id="email" name="reactivate_email"
            placeholder="Enter your confirmation email" type="email" value="{{email}}" class="form-control" required>
        <div class="form-label-group">
            <div class="rows">
            </div>
            </div>
    <div class="rows" >
            <button type="submit" class="btn btn-primary btn-block">Reactivate Account</button>

        </div>


        {% if errors %}
    <div class="alert alert-danger" style="margin-top:20px">
                <strong>{{ error|escape }}</strong>
            </div>
{% endif %}

    </form>
</div>
{% endblock %}
