{% load staticfiles %}
<!DOCTYPE html>
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Social Media Monitor</title>
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/modal.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/dashboard.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
        <link rel="icon" href="{% static 'images/icon-trans.png' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<style>
/* width */
div#scroll::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
div#scroll::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

</style>
    </head>
    <body>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg  navbar-dark dashboard-nav">
        <div class="container-fluid">
            <image class="navbar-brand logo-pic" src="{% static 'images/icon-trans.png' %}" alt="">
                <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse"
                        data-target="#mainNavbarCollapse">&#9776;</button>
                <div class="collapse navbar-collapse" id="mainNavbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item db-nav-item"><a class="nav-link db-nav-link text-white" href="#"><span
                                class="fa fa-clipboard db-icon"></span>Feed</a></li>
                        <li class="nav-item db-nav-item"><a class="nav-link db-nav-link text-white" href="#"><span
                                class="fa fa-users db-icon"></span>Influencers</a></li>
                        <li class="nav-item db-nav-item"><a class="nav-link db-nav-link text-white" href="#"> <span
                                class="fa fa-qrcode db-icon"></span>Reports</a></li>
                        <li class="nav-item db-nav-item"><a class="nav-link db-nav-link text-white" href="#"><span
                                class="fa fa-cogs db-icon"></span>Account Setting</a></li>
                    </ul>
                    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                        <li class="nav-item db-nav-item"><a class="nav-link db-nav-link text-white" href="#"><span
                                class="fa fa-question-circle db-icon-question" style="font-size:30px"></span></a></li>

                        <li class="nav-item db-nav-item"><a class="nav-link db-nav-link text-white" href="/SMM/logout/"><span
                                class="fa fa-sign-out db-icon"></span>Sign Out</a></li>
                    </ul>
                </div>
            </image>
        </div>

    </nav>
    <!--Main -->
    <div class="container-fluid">
        <div class="row d-flex flex-row h-100">
            <!--Side Bar-->
            <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2 d-flex flex-column float-left">
                <div class="row d-flex flex-row border-right">
                    <div class="col-1 col-xs-1 col-sm-1 col-lg">
                        <li class="db-list-item">
                            <a href="#" class="db-side-link">
                                <i class="fa fa-inbox db-list-icon" style="font-size:25px;"></i>
                                <span class="d-none d-md-inline">Inbox</span>
                            </a>
                        </li>
                    </div>
                    <div class="col-1 col-xs-1 col-sm-1 col-lg">
                        <li class="db-list-item">
                            <a href="#" class="db-side-link">
                                <i class="fa fa-eye-slash db-list-icon" style="font-size:25px;"></i>
                                <span class="d-none d-md-inline">Unread</span>
                            </a>
                        </li>
                    </div>
                    <div class="col-1 col-xs-1 col-sm-1 col-lg">
                        <li class="db-list-item">
                            <a href="#" class="db-side-link">
                                <i class="fa fa-flag db-list-icon" style="font-size:25px;"></i>
                                <span class="d-none d-md-inline">Priority</span>
                            </a>
                        </li>
                    </div>
                    <div class="col-1 col-xs-1 col-sm-1 col-lg">
                        <li class="db-list-item">
                            <a href="#" class="db-side-link">
                                <i class="fa fa-star db-list-icon" style="font-size:25px;"></i>
                                <span class="d-none d-md-inline">Favourities</span>
                            </a>
                        </li>
                    </div>
                    <div class="col-1 col-xs-1 col-sm-1 col-lg">
                        <li class="db-list-item">
                            <a href="#" class="db-side-link">
                                <i class="fa fa-trash db-list-icon" style="font-size:25px;"></i>
                                <span class="d-none d-md-inline">Trash&nbsp;&nbsp;</span>
                            </a>
                        </li>
                    </div>
                    <div class="col-1 col-xs-1 col-sm-1 col-lg">
                        <li class="db-list-item">
                            <a href="#" class="db-side-link">
                                <i class="fa fa-exclamation-circle db-list-icon" style="font-size:25px;"></i>
                                <span class="d-none d-md-inline">Spam&nbsp;&nbsp;</span>
                            </a>
                        </li>
                    </div>
                    <div class="col-6 col-xs-6 col-sm-6 col-lg">
                        <li class="db-list-item">
                            <a class="button btn alert-button text-white" href="newalert.html">
                                <i class="fa fa-plus-square db-list-add-icon" style="font-size:25px;"></i>New Alert</a>
                        </li>
                    </div>
                </div>
            </div>
            <!--Feed Panel-->
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 db-sidebar border-right">
                <div class="row">
                    <form class="col-8 db-search d-flex align-items-center">
                        <div class="col-12">
                            <div class="right-inner-icon">
                                <input class="form-control position-relative d-inline-block" placeholder="Search.."/>
                                <i class="fa fa-search db-panel-srch-icon"></i>
                            </div>
                        </div>
                    </form>
                    <div class="col-4" id="sideCollapse">
                        <div class="row db-icon-row d-flex">
                            <div class="col-2 col-sm col-md col-lg-2 col-xl-2" title="Download Source">
                                <span class="fa fa-download db-panel-icon"></span>
                            </div>
                            <div class="col-2 col-sm col-md col-lg-2 col-xl-2" title="Filters">
                                <span class="fa fa-sliders db-panel-icon"></span>
                            </div>
                            <div class="col-2 col-sm col-md col-lg-2 col-xl-2" title="Expand">
                                <span class="fa fa-expand db-panel-icon"></span>
                            </div>
                            <div class="col-2 col-sm col-md col-lg-2 col-xl-2" title="Post">
                                <span class="fa fa-plus-circle db-panel-icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="dropdown align-center flex-display w-100">
                            <button class="button  dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All Sources
                            </button>
                            <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item align-center text-center" href="#"><span
                                        class="fa fa-facebook-square db-fb-icon" style="font-size:26px;"></span>Facebook</a>
                                <a class="dropdown-item  text-center" href="#"><span
                                        class="fa fa-twitter-square db-tw-icon"
                                        style="font-size:26px;"></span>Twitter</a>
                                <a class="dropdown-item text-center" href="#"><span
                                        class="fa fa-google-plus-square db-go-icon" style="font-size:26px;"></span>Google+</a>
                                <a class="dropdown-item text-center" href="#"><span
                                        class="fa fa-linkedin-square db-lnk-icon" style="font-size:26px;"></span>LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
<div id ="scroll"  style="overflow-y: auto; height:500px; overflow-x: hidden">

               {% for message in list_of_data %}

                <div class="row" onclick=" MainPanel({{ message }}) ">
                    <div class="db-FeedSocial">
                        <div class="db-FeedSocialLeft">
	    <span class="db-box Social-box">
		   <div class="db-position">
		      <span class="Social-box-image" style="height:40px;line-height:40px; width:40px;">
			      <span class="Social-box-image-wrap"
                        style="height:40px; line-height: 40px; margin-left: -233px; width: 500px;">
				     <img class="Social-box-image-img" src= {{message.user.display_picture}}
                          style="max-height:40px;">
				  </span>
				  <div class=""></div>
				</span>
			</div>
		</span>
                            <div class="db-SocialFeed-unread"></div>
                        </div>
                        <div class="db-FeedSocialNotif">
                            <div class="db-FeedSocialTime db-AlertFeedSocial-notif highlight">{{ message.user.time }}</div>
                        </div>
                        <div class="db-FeedSocialMid">
                            <div class="db-FeedSocialName highlight">{{ message.user.display_name }}</div>
                            <div class="db-FeedSocialTitle"> {{ message.text|slice:":50"}}</div>
                            <div class="db-FeedSocialDesc highlight">
                                {% if message.source == "GooglePlus" %}
                                <a target="_blank" href="https://plus.google.com/{{ message.user.user_id }}/posts/{{ message.status_id }}">https://plus.google.com/{{ message.user.user_id }}/posts/{{ message.status_id }}</a>
                                {% elif message.source == "Twitter" %}
                                <a target="_blank" href="https://twitter.com/{{ message.user.display_name }}/status/{{ message.status_id }}">https://twitter.com/{{ message.user.display_name }}/status/{{ message.status_id }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"></div>
                            <div title="Move to Favourities" class="col-1"><i class="fa fa-star"></i></div>
                            <div title="Move to spam" class="col-1"><i class="fa fa-exclamation-circle"></i></div>
                            <div title="Move to Trash" class="col-1"><i class="fa fa-trash"></i></div>
                            <div title="Block Resource" class="col-1"><i class="fa fa-ban"></i></div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
</div>
<script>
function MainPanel(x) {

    return x;
}
document.getElementById("demo").innerHTML = myFunction(4);
</script>

{#                <div class="row">#}
{#                    <div class="db-FeedSocial">#}
{#                        <div class="db-FeedSocialLeft">#}
{#	    <span class="db-box Social-box">#}
{#		   <div class="db-position">#}
{#		      <span class="Social-box-image" style="height:40px;line-height:40px; width:40px;">#}
{#			      <span class="Social-box-image-wrap"#}
{#                        style="height:40px; line-height: 40px; margin-left: -233px; width: 500px;">#}
{#				     <img class="Social-box-image-img" src="{% static 'images/profilepic.png' %}"#}
{#                          style="max-height:40px;">#}
{#				  </span>#}
{#				  <div class=""></div>#}
{#				</span>#}
{#			</div>#}
{#		</span>#}
{#                            <div class="db-SocialFeed-unread"></div>#}
{#                        </div>#}
{#                        <div class="db-FeedSocialNotif">#}
{#                            <div class="db-FeedSocialTime db-AlertFeedSocial-notif highlight">31 Jul 11:30 A.M</div>#}
{#                        </div>#}
{#                        <div class="db-FeedSocialMid">#}
{#                            <div class="db-FeedSocialName highlight">@SocialMonitoring.com</div>#}
{#                            <div class="db-FeedSocialTitle"> Fix Review July 2018…This is Kate Colonel Jamei…</div>#}
{#                            <div class="db-FeedSocialDesc highlight"><a target="_blank" href="#">https://www.socialmediamonitoring.com/2018/07/july-2018/</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{##}
{#                            <div class="col-6"></div>#}
{#                            <div title="Move to Favourities" class="col-1"><i class="fa fa-star"></i></div>#}
{#                            <div title="Move to spam" class="col-1"><i class="fa fa-exclamation-circle"></i></div>#}
{#                            <div title="Move to Trash" class="col-1"><i class="fa fa-trash"></i></div>#}
{#                            <div title="Block Resource" class="col-1"><i class="fa fa-ban"></i></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="db-FeedSocial">#}
{#                        <div class="db-FeedSocialLeft">#}
{#	    <span class="db-box Social-box">#}
{#		   <div class="db-position">#}
{#		      <span class="Social-box-image" style="height:40px;line-height:40px; width:40px;">#}
{#			      <span class="Social-box-image-wrap"#}
{#                        style="height:40px; line-height: 40px; margin-left: -233px; width: 500px;">#}
{#				     <img class="Social-box-image-img" src="{% static 'images/profilepic.png' %}"#}
{#                          style="max-height:40px;">#}
{#				  </span>#}
{#				  <div class=""></div>#}
{#				</span>#}
{#			</div>#}
{#		</span>#}
{#                            <div class="db-SocialFeed-unread"></div>#}
{#                        </div>#}
{#                        <div class="db-FeedSocialNotif">#}
{#                            <div class="db-FeedSocialTime db-AlertFeedSocial-notif highlight">31 Jul 11:30 A.M</div>#}
{#                        </div>#}
{#                        <div class="db-FeedSocialMid">#}
{#                            <div class="db-FeedSocialName highlight">@SocialMonitoring.com</div>#}
{#                            <div class="db-FeedSocialTitle"> Fix Review July 2018…This is Kate Colonel Jamei…</div>#}
{#                            <div class="db-FeedSocialDesc highlight"><a target="_blank" href="#">https://www.socialmediamonitoring.com/2018/07/july-2018/</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-6"></div>#}
{#                            <div title="Move to Favourities" class="col-1"><i class="fa fa-star"></i></div>#}
{#                            <div title="Move to spam" class="col-1"><i class="fa fa-exclamation-circle"></i></div>#}
{#                            <div title="Move to Trash" class="col-1"><i class="fa fa-trash"></i></div>#}
{#                            <div title="Block Resource" class="col-1"><i class="fa fa-ban"></i></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <!--Main Panel-->
            <div class="col-lg-6 col-xl-6 d-flex flex-column">
                <div class="row">
                    <div class="col">
                        <div class="db-FeedSocial-expand h-100">
                            <div class="db-action-bar">
                                <div class="row m-2">
                                    <div class="col-1 col-sm-1 col-md-5 col-lg-5"></div>
                                    <div title="Add Your Response" class="col-3 col-sm-3 col-md-2 col-lg-2">
                                        <div class="dropdown">
                                            <img class="image-emotion dropdown-toggle"
                                                 src="{% static 'images/smily.jpg' %}" id="dropdownEmotionButton"
                                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="dropdown-menu dropdown-content"
                                                 aria-labelledby="dropdownEmotionButton">
                                                <a class="dropdown-item" href="#">Positive <img
                                                        class="image-emotion-dropdown ml-auto" align="left"
                                                        src="{% static 'images/happy.png' %}"></a>
                                                <a class="dropdown-item" href="#">Nuetral <img
                                                        class="image-emotion-dropdown ml-auto" align="left"
                                                        src="{% static 'images/emotion.svg' %}"></a>
                                                <a class="dropdown-item" href="#">Negitive<img
                                                        class="image-emotion-dropdown ml-auto" align="left"
                                                        src="{% static 'images/sad.svg' %}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div title="Move to Favourities" class="col-2 col-sm-2 col-md-1 col-lg-1"><i
                                            class="fa fa-star db-list-icon" style="font-size:25px;"></i></div>
                                    <div title="Move to spam" class="col-2 col-sm-2 col-md-1 col-lg-1"><i
                                            class="fa fa-exclamation-circle db-list-icon" style="font-size:25px;"></i>
                                    </div>
                                    <div title="Move to Trash" class="col-2 col-sm-2 col-md-1 col-lg-1"><i
                                            class="fa fa-trash db-list-icon" style="font-size:25px;"></i></div>
                                    <div title="Share Resource" class="col-2 col-sm-2 col-md-1 col-lg-1"><i
                                            class="fa fa-share-square db-list-icon" style="font-size:25px;"></i></div>
                                </div>
                            </div>

                            <div class="db-FeedSocialLeft">
	    <span class="db-box Social-box">
		   <div class="db-position">
		      <span class="Social-box-image" style="height:100px;width:100px;">
			      <span class="Social-box-image-wrap" style="height:100px; margin-left: -233px; width: 500px;">
				     <img class="Social-box-image-img" src="{% static 'images/profilepic.png' %}"
                          style="max-height:100px;width:100px;margin-left:50px">
				  </span>
				</span>
			</div>
		</span>
                            </div>
                            <div class="db-FeedSocialNotif" style="width:auto;height:auto;">
                                <div class="db-FeedSocialTime db-AlertFeedSocial-notif highlight">31 Jul 11:30 A.M</div>
                            </div>

                            <div class="db-mainFeedContent">
                                <div class="db-FeedSocialName highlight">@SocialMonitoring.com</div>
                                <div class="db-FeedSocialTitle"> Fix Review July 2018…This is Kate Colonel Jamei…</div>
                                <div class="db-FeedSocialDesc highlight"><a target="_blank" href="#">https://www.socialmediamonitoring.com/2018/07/july-2018/</a>
                                </div>
                            </div>
                            <div class="row">
                                <div title="Reply" class="col"><i class="fa fa-reply"
                                                                  style="font-size:24px;margin-left:26px;padding:0px;"></i>Reply
                                </div>
                                <div title="Retweet Source" class="col"><i class="fa fa-retweet"
                                                                           style="font-size:24px;margin-left:50px;padding:0px;"></i>Retweet
                                </div>
                                <div title="Quote Source" class="col"><i class="fa fa-fa fa-quote-right"
                                                                         style="font-size:24px;margin-left:30px;padding:0px;"></i>Quote
                                </div>
                                <div title="Like" class="col"><i class="fa fa-thumbs-up"
                                                                 style="font-size:24px;margin-left:20px;padding:0px;"></i>Like
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--script-->
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
            integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    </body>
    </html>
{% endblock %}