    {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >
<title>Recover Password</title>
<link rel="icon" href="{% static 'images/icon-trans.png' %}" >
<link rel="stylesheet" href="{% static 'SMM/login.css' %}"> 
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">  
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">  
</head>
<body>
<div class="container-fluid">
  <div class="text-center"> 
	<span>
	 <h1 class="h3 header-text font-weight-normal text-logo">
	  <img class="logo-pic image-responsive" src="{% static 'images/icon-trans.png'% }" alt="">
       Social Media Monitor</h1>
	</span>
  </div>
<div class="text-center">
<h5 class=" head-main font-weight-normal">Forgot your Account Password?</h5>
<br> 
 <p class="btext font-weight-normal">Enter the Email address of your registered Account.You will receive a link to reset your account password. </p>
</div>
 <form class="formforgetpassword">
  <div class="form-label-group">
	    <div class="rows">
	     <label for="Email">Email address</label>
         <input type="email" id="Email" class="form-control" placeholder="Email address" required autofocus>
        </div>
	 </div>
   <div class="rows">
      <button class="btn" type="submit" >Confirm Reset Password!</button>
  </div>
 </form>
 <br>
 <div class="text-center">
 <p>Remember Password? <a class="link" href="{% url 'login' %}">Go Back to SignIn</a></p>
 </div>
</div>
</body>
</html>
  

