{% extends 'SMM/base_nav.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% block content %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Alert</title>
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/modal.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/BrandSelection.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/dashboard.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
        <link rel="icon" href="{% static 'images/icon-trans.png' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/jquery.tag-editor.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/token-input.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/token-input-facebook.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/jquery.mentiony.css' %}" type="text/css">
        <!--Angular JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <style>
            .m-left {
                margin-left: 50%;
                width: 45%;
            }

            .m-right {
                margin-right: 60px;
            }

            .mg-top {
                margin-top: 5px;
            }

            .mg-pr-top {
                margin-top: 15px;
            }

            .nxt-btn {
                margin-left: -150px;
            }

            .btn-arrow {
                padding: 0;
                margin-left: -30px;
            }

            .src-lang-leftarrow-btn {
                padding: 0;
                margin-left: -40px;
            }

            .src-lang-rightarrow-btn {
                padding: 0;
                margin-left: -20px;
            }

            .row-btn {
                margin-left: 50%;
                margin-top: -20px;
                margin-bottom: auto;
                margin-right: -300px;
            }

            .ml-20 {
                margin-left: -20px;
            }
        </style>
        <style>
            #resTabsrc {

                position: relative;
                margin-left: 55%;
                margin-top: 30px;
                width: 20%;
                height: 100%;
                display: inline-block;
                float: left;
                overflow-x: auto;
            }

            input#search-input:focus {
                outline: 0px;
                box-shadow: none;

            }

            #image-source {
                padding-left: 5px;
                padding-right: 5px;
                padding-right: 5px;
                position: center;
                border: 0.5px solid;
            }

            .row-no-padding div {
                margin: 0 !important;
            }

            #resTablang {
                height: auto;
                position: relative;
                margin-left: 80%;
                margin-top: -100px;
                margin-bottom: auto;
                margin-right: 120px;
                width: 20%;
                height: 100%;
                display: inline-block;
                float: right;
            }
        </style>
    </head>
    {#    <h2>Welcome, {{ user.get_full_name }} </h2>#}
    {#<small>{{ user.username }}</small>!</h2>#}
    {#  <p>Your email address: {{ user.email }}</p>#}

    <!--Page Header-->
    <header class="page-header">
        <div class="text-center">
	<span>
	 <h1 class="h3 text-logo font-weight-normal header-text text-center">
	  <img class="logo-pic image-responsive" src="{% static 'images/icon-trans.png' %}" alt="">
       What do you want to monitor?</h1>
	</span><br>
            <h4 class="h5 font-weight-normal">Pick the type that best fits to your monitoring goal</h4>
        </div>
    </header>
    <!--Page Body-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" id="companyDivModal">
                    <a class="button-selection" data-toggle="modal" data-target="#CompanyModal">
                        <div class="box selector bounceUp animated">
                            <div class="item text-center">
                                <div class="selector-header"><img class="image-responsive image-selector"
                                                                  src="{% static 'images/brand.jpg' %}"></div>
                                <h4 class="font-weight-normal">Company</h4>
                                <p>Recommended to monitor brand or Company's Product</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4" id="anthingModalDiv">
                    <a class="button-selection" data-toggle="modal" data-target="#CompanyModal">
                        <div class="box selector bounceUp animated">
                            <div class="item text-center">
                                <div class="selector-header"><img class="image-responsive image-selector"
                                                                  src="{% static  'images/other.png' %}"></div>
                                <h4 class="font-weight-normal">Anything Else</h4>
                                <p>Recommended to monitor a topic or person etc.</p>
                            </div>
                        </div>
                    </a>
                </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                </div>
            </div>
        </div>
    </section>

    <!--Comapny Modal-->
    <form class="modal-form" method="post" action=""  ng-app="NewAlertSubmitApp" ng-controller="NewAlertSubmitAppController">
        {% csrf_token %}
        <div class="modal fade md-alert" id="CompanyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge"
             aria-hidden="true">
            <div class="modal-dialog modal-lg md-dial-alert">
                <div class="modal-content md-con-alert">
                    <div class="modal-header">
                        <button type="button" id="modelclosebtn" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <img class="img-diagonal" src="{% static 'images/file.jpeg' %}" align="left">
                    <div class="text-center modalpage-head">
	    <span>
	    <h1 class="h3 font-weight-normal text-center" id="CompanyorCompetitorHtop">
	    <img class="logo-pic image-responsive" src="{% static 'images/icon-trans.png' %}" alt="">
         What's the brand?</h1>
	    </span><br>
                        <br>
                        <br>
                        <h4 class="h6 font-weight-normal" id="companyOrcompetitorH">Enter the name of Company or Brand
                            you
                            want to search or
                            monitor.</h4>
                    </div>

                    <div class="modal-form" id="companymodal">
                        <div class="row row-no-padding">
                            <div class="awesomplete" id="ajax-example">
                                <div class="row" id="image-source">
                                    <div class="col-1.5"
                                         style="alignment: center; padding: 5px">
                                        <img id="input-image" src="" width=13/>
                                    </div>
                                    <div class="col-10.5" style="padding-left: 0px;">
                                        <input id="search-input" type="text"
                                               class="modal-form-input form-control "
                                               style="padding-left:0;
                                               box-shadow: unset;
                                               border: unset;
                                               padding-bottom: unset;"
                                               placeholder="Search Company Or Brand!.."
                                               required autofocus
                                               autocomplete="off"
                                               name="search_input">
                                        <input type="hidden" id="domain-input" value="none" name="domain-input">
                                        <img src="" id="image-input" style="display: none;"name="image-input">
                                        <input required autofocus placeholder="Search anything!.."
                                               style="padding-left:0;
                                               box-shadow: unset;
                                               border: unset;
                                               margin-top: 2px;
                                               padding-bottom: unset;" class="modal-form-input form-control" id="keyword-input" value="" name="keyword_input">
                                    </div>
                                </div>
                                <div class="suggestions">
                                <ul id="rlist" class="result" style="padding-left: unset">
                                </ul>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                        <div class="row">
                            <input id="user_id" name="user_id" type="hidden" value={{ user.id }}>
                            <input id="user_status" name="user_status" type="hidden" value={{ user.is_active }}>
                            <input id="user_fist_name" name="user_first_name" type="hidden"
                                   value={{ user.first_name }}>
                            <input id="user_last_name" name="user_last_name" type="hidden"
                                   value={{ user.last_name }}>
                            <input id="user_email_conform" name="user_email_conform" type="hidden"
                                   value={{ user.profile.email_confirmed }}>
                            <input id="user_email" name="user_email" type="hidden" value={{ user.email }}>
                            <div id="hereare" class="col-6">
                                <input type="hidden" id="search_keyword" value="none" name="search_keyword">
                                {{ form.as_p }}
                                {{ form.excluded_keywords.value|default_if_none:"NONE" }}

                            </div>
                            <div class="col-2" >
                                <button id="sourcebtn" class="button modal-form-button btn-default" ng-click="preventSubmission($event)" type="submit">
                                    <span class="pull-left">Submit</span>
                                    <i class="fa fa-arrow-right src-lang-rightarrow-btn"></i></button>



                        </div>
                             <div class="Error" id="errorMessage" style="display:none;font-size:14px;color:red">Keyword already exisits!</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!--anything Modal-->
    {% comment %}    <div class="modal fade md-alert" id="anythingModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge"
         aria-hidden="true">
        <div class="modal-dialog modal-lg md-dial-alert">
            <div class="modal-content md-con-alert">
                <div class="modal-header">
                    <button type="button" class="close" id="anythingclosebtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <br>
                <br>
                <img class="img-diagonal" src="{% static 'images\priority.jpg' %}" align="left">

                <div class="text-center modalpage-head mg-pr-top">
	       <span>
	       <h1 class="h3 font-weight-normal text-center">
	      <img class="logo-pic image-responsive" src="{% static 'images\icon-trans.png' %}" alt="">
             Keywords Settings</h1>
	       </span>
                    <h6 class="h6 font-weight-normal">Enter the required keyword in the boxes</h6>
                </div>

                <div class="keywordform">
                    <div class="row row-no-padding">
                    </div>
                    <label>Optional Keywords</label>
                    <div class="row">
                        <span class="col-md-12 text-center small"> Your alert will collect mentions that contain any of these keywords, plus all required keywords. </span>
                    </div>
                    <textarea id="optionalword" class="form-control rounded-0" required autofocus></textarea>
                    <div class="small text-right">Press 'enter' to add</div>


                </div>
                <div class="keywordform">
                    <div class="row row-no-padding">
                    </div>
                    <label>Required Keywords</label>
                    <div class="row">
                        <span class="col-md-12 text-center small"> Your alert will collect mentions that contain all of these keywords </span>
                    </div>
                    <textarea data-role="tagsinput" id="requiredword" class="form-control rounded-0" required
                              autofocus></textarea>
                    <div class="small text-right">Press 'enter' to add</div>
                </div>
                <div class="keywordform">
                    <div class="row row-no-padding">
                    </div>
                    <label>Excluded Keywords</label>
                    <div class="row">
                        <span class="col-md-12 text-center small"> Your alert will collect mentions that contain all of these keywords </span>
                    </div>
                    <textarea data-role="tagsinput" id="excludedword" class="form-control rounded-0" required
                              autofocus></textarea>
                    <div class="small text-right">Press 'enter' to add</div>
                </div>

                <br>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-2">
                        <button id="prevanything" class="button btn-default" type="button" data-dismiss="modal">
                            <span class="pull-right"> &nbsp;&nbsp;  Previous Site!</span>
                            <i class="fa fa-arrow-left pull-left btn-arrow"></i></button>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <button id="srcotherModalbtn" data-toggle="modal" data-dismiss="modal"
                                class="button modal-form-button btn-default" type="button"
                                data-target="#PriorityModal">
                            <span class="pull-left">Next Site!&nbsp;&nbsp; </span>
                            <i class="fa fa-arrow-right btn-arrow"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
         </form>{% endcomment %}



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js
    /bootstrap.bundle.min.js"
            integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.mentiony.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/tags-input.js' %}"></script>
    <script src="{% static '/bootstrap/js/auto_s.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    </body>
    </html>
{% endblock %}