{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    {#    <img rel="icon" src="{% static 'images/icon-trans.png'%}" alt="hahhaa">#}
    <link rel="icon" href="{% static 'images/icon-trans.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
	<span>
	 <h1 class="h3 header-text font-weight-normal text-logo">
	  <img class="logo-pic image-responsive" src="{% static 'images/icon-trans.png' %}">
       Social Media Monitor</h1>
	</span>
    </div>
    <div class="text-center">
        <div class="text-center">
            {% block title %}
                {% if validlink %}
                    {#                    Change password for {{ form.user.username }}#}
                {% else %}
                    <h5 class=" head-main font-weight-normal">Reset your Account Password!!</h5>
                {% endif %}
            {% endblock %}

            <br>
            <p class="btext font-weight-normal">Enter new Password for your registered Account.</p>
        </div>
        <form class="formforgetpassword" method="post" novalidate>

            <div class="form-label-group">
                {% if validlink %}
                    {% csrf_token %}
                    <div class="rows">
                        <label for="id_new_password1">New password:</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="rows">
                        <label for="id_new_password2">Confirm password:</label>
                        {{ form.new_password2 }}
                    </div>
                    </div>
                    {% if form.errors %}
                    <p class="label label-danger">
                        Password didn't match. Please try again.
                    </p>
                {% endif %}
                    <div class="rows">
                        <button class="btn" type="submit">Reset Password!</button>
                    </div>
                    <br>
                    <br>

                    </form>
                {% else %}
                    <h3 class="card-title">Reset your password</h3>
                    <div class="alert alert-danger" role="alert">
                        It looks like you clicked on an invalid password reset link. Please try again.
                    </div>
                    <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password
                        reset link</a>
                {% endif %}
    </div>
</div>
</body>
</html>