{% extends 'SMM/base_nav.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    {#    <img rel="icon" src="{% static 'images/icon-trans.png'%}" alt="hahhaa">#}
    <link rel="icon" href="{% static 'images/icon-trans.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
</head>
<body>


<div class="container-fluid">
    <div class="text-center">
	<span>
	 <h1 class="h3 header-text font-weight-normal text-logo">
	  <img class="logo-pic image-responsive" src="{% static 'images/icon-trans.png' %}">
       Social Media Monitor</h1>
	</span>
    </div>
    <div class="text-center">
        <div class="text-center">
            <p class="btext font-weight-normal">Enter new Password for your registered Account.</p>
        </div>
        {% block content %}
  {% if validlink %}
  <br>
  <br>
    <h3 class="text-center">Reset password</h3>
    <form method="post" class ="col-lg-4 offset-lg-4 ">
      {% csrf_token %}
      <p class="btext text-center">Enter new Password for your registered Account.</p>
      <br>
      <label class="input-labels" for="id_new_password1">New password:</label>
      <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control">
      <label class="input-labels" for="id_new_password1">Confirm new password:</label>
      <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control">
      <br>
      <button class="btn-success " type="submit">Change password</button>
       {% if form.errors %}
                    <p class="label label-danger">
                        Password didn't match. Please try again.
                    </p>
                {% endif %}
    </form>
  {% else %}
  <div class="container-fluid col-lg-3 offset-lg-4  ">
    <div class="text-center">
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
  {% endif %}
  </div>
  </div>
</div>
</body>
</html>
 {% endblock %}
