{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >
<title>Recover Password</title>
<link rel="icon" href="{% static 'images/icon-trans.png' %}" >
<link rel="stylesheet" href="{% static 'SMM/login.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
</head>
<body>
<div class="container-fluid">
{% block content %}

  <div class="text-center">
	<span>
	 <h1 class="h3 header-text font-weight-normal text-logo">
	  <img class="logo-pic image-responsive" src="{% static 'images/icon-trans.png' %}" alt="">
       Social Media Monitor</h1>
	</span>
  </div>

<div class="text-center">
<h5 class=" head-main font-weight-normal">Forgot your Account Password?</h5>
<br>
 <p class="btext font-weight-normal">Enter the Email address of your registered Account.You will receive a link to reset your account password. </p>
</div>
{% endblock %}
    <form class="formforgetpassword" method="post" novalidate>
           {% csrf_token %}
        {%for field in form %}
{#        <label for="Email">Email address</label>#}
            <label for="{{ form.email.id_for_label }}" class="label">Email address for confirmation </label>
            <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Enter your confirmation  email " type="email" class="form-control">
{#            {{ field }}#}
        {% endfor %}
{#    {%  %}#}
        <div class="form-label-group">
            <div class="rows">
            </div>
            </div>
    <div class="rows">
            <button type="submit" class="btn btn-primary btn-block">Confirm Reset Password!</button>

        </div>
    </form>
</div>