{% extends 'SMM/dashboard_base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% block content %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Social Media Monitor</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/modal.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/login.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'SMM/dashboard.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
         <!--Angular JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="icon" href="{% static 'images/icon-trans.png' %}">
    </head>

    <body>
        <div ng-app="ReportsApp" ng-controller="ReportsAppController" class="container" style="margin-top:10px">

        <div class = "row">
        <label for="keyword_list" class="label">Select Keyword:</label>
        
                <select name="item_id" id="keywords">
                <option value="_" ng-click="drawKeywordPieChart()">-----------</option>
                    {% for keyword in keyword_list %}
                    <option value="{{ keyword.alert_name }}" ng-click="drawKeywordPieChart()">{{ keyword.alert_name }}</option>
                    {% endfor %}
                </select>
                </div>
            <!--Div that will hold the pie chart-->
            <div id="chart_div"></div>

        </div>
        <!--script-->
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/graphs.js' %}"></script>


    </body>

</html>
{% endblock %}