{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/icon-trans.png' %}">
    <link rel="stylesheet" href="{% static 'SMM/login.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrapcdn-grid.min.css' %}">
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="text-center">
            <span>
	 <h1 class="h3 font-weight-normal text-logo">
		<img class=" logo-pic image-responsive" src="{% static 'images/icon-trans.png' %}" alt="">
			 Social Media Monitor</h1>
	</span>
        </div>
        <form class="signup-form" method="post">
            <h4 class="text-center font-weight-normal">Sign Up for new Account</h4> 
            {% csrf_token %} 
            {% for field in form %}
            <div class="form-label-group">
                {% if field.name == 'show_password' %}
                <div class="rows">
                    <div class="col">
                        <div class="checkbox">
                            <label>
                                <input class="text-left" type="checkbox" value="show-password" onclick="">Show Password</label>
                        </div>
                    </div>
                </div>
                {% else %} 
                {{ field.label_tag }}
            </div>
            {{ field }} 
            {% endif %} 
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small> {% endif %} {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %} {% endfor %}
            <button class="btnn" type="submit">Create Your Account</button>
            <br>
            <div class="row">
                <div class="col-5">
                    <hr>
                </div>
                <div class="col-2">
                    <p> OR </p>
                </div>
                <div class="col-5">
                    <hr>
                </div>
            </div>
            <div class="text-center">
                <p style="">Create Account with your Social Media account</p>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#" class="fa fa-facebook white-link"></a>
                </div>
                <div class="col">
                    <a href="#" class="fa fa-linkedin  white-link"></a>
                </div>
                <div class="col">
                    <a href="#" class="fa fa-twitter white-link"></a>
                </div>
                <div class="col">
                    <a href="#" class="fa fa-google white-link"></a>
                </div>
            </div>
            <br>
            <br>
            <div class="text-center">
                <p>Already have an account? <a class="SignIn-links" href="{% url 'login' %}">SignIn</a></p>
            </div>
        </form>
        {% endblock %}
</body>

</html>